<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="/css/navbar_footer.css">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style>
     .signup-container {
          width: 30%;
          margin: auto;

          border-radius: 10px;
          padding: 20px;

      }
      .signup-btn {
          background-color: black;
          border: none;
          color: white;
          margin-left: 10px;
          padding: 10px;
          width: 95%;
          font-weight: 700;

      }

      .signup-btn:hover {
          background-color: rgb(36, 36, 36);
      }

      .signup-label {
          font-weight: bold;
          font-size: 14px;
          margin: 10px;
      }

      .signup-input {
          padding: 10px;
          margin-left: 10px;
          width: 90%;
          border: 1px solid #bbb
      }

      .error {
          padding: 10px;
          margin-left: 10px;
          width: 90%;
          border: 1px solid red;
          border-bottom: 3px solid red;
      }

      input:focus {

          border-bottom: 3px solid black;
          border-left: none;
          border-right: none;
          border-top: none;

      }

      .signup-a {
          text-decoration: underline;
          color: black;
      }

     

   </style>
<body>
    
    <%- include("partials/navbar"); %>
     
     <div class="signup-container container" id="email_container">
          <h2 style="margin:10px;">Sign In | Create Account</h2>
          <p style="margin:10px;">Enter your email to get started</p>
  
          <form onsubmit="checkUser(event)">

            <!--action="/users/login" method="post"-->

         


          <label class="signup-label" for="email">Email</label>
          <br>
          <input class="signup-input" id="email" type="text" name="email" style="margin:10px;" value="<%=email%> " />
          <br>


          <label class="signup-label" for="email">Password</label>
          <br>
          <input class="signup-input" type="password" id="password" name="password" style="margin:10px;"  />


          <p id="error_message" style="visibility:hidden;margin:10px">Enter Email address as name@email.com</p>
          <button type="submit" class="signup-btn" >Next</button>
  
          <p style="margin:10px;">By tapping Next, you agree to our<a href="privacy.html">Privacy Policy</a> and <a
                  href="terms.html">Terms & Conditions</a>.</p>
          </form>                  
      </div>
          <%- include("partials/footer"); %>
          <script src="/js/navbar.js"> </script>
      <script>


                   async function checkUser(e)
                    {
                        e.preventDefault();

                        let email = document.getElementById("email").value;
                        let password = document.getElementById("password").value;
                        console.log(email,password);



                        let response = await fetch("http://localhost:5000/users/login",(
                            {
                                method:'POST',
                                headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                                },
                                body:JSON.stringify({
                                    "email":email,
                                    "password":password
                                })                            
                            }
                        ));

                        let res=await response.json();
                        console.log(res);
                            
                        if(res.status==true)
                        {
                            localStorage.setItem("uid",res.user._id);
                            //alert("login success");
                            let user_id=localStorage.getItem("uid");                            
                            let url="http://localhost:5000/wishlist/user/"+user_id

                            console.log(url);
                            let sid = await fetch(url,({
                                method:"GET"
                            }));
                            let  resp = await sid.json();

                            localStorage.setItem("wid",resp._id);


                            let url2="http://localhost:5000/shoppingBag/"+user_id

                            let cid = await fetch(url2,({
                                method:"GET"
                            }));
                            let  resp2 = await cid.json();

                            console.log(resp2);

                            localStorage.setItem("sid",resp2.item[0]._id);

                            let recently=localStorage.getItem("recently_visited_product_id")

                            if(recently!=undefined)
                                window.location=`/products/${recently}`;
                            else
                                window.location="/landingpage";
                        }
                        else
                        {
                            alert("failed to login please check the details and try again");
                        }
                    }







      </script>
  
</body>
</html>