body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0px;
}

.material-icons {
    text-align: center;
    margin: 5px;
}

#details {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 500px 300px;
    gap: 40px;
}

.pro_det_name {
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(68, 68, 68);
    font-size: 30px;
}

.pro_det_h4 {
    text-align: left;
    margin-bottom: 0px;
    width: 50;
}

#details+div {
    /*display: flex;*/
    margin: auto;
    /*text-align: center;*/


}


.disc li {
    list-style-type: square;
    font-size: 30px;

}

#prod-img {
    width: 50%;
}

.flex-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#flex {
    display: flex;
    flex-direction: column;
}

#button1 {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 20px;
    line-height: 2px;
    border: 0px;
    padding-bottom: 15px;
}

.pro_det_p {
    font-size: 14px;
    float: left;
    color: rgb(68, 68, 68);
    font-weight: 350;
}

.pro_det_h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #393939;
    font-weight: 500;
}

.pro_det_p2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    float: left;
    color: rgb(63, 63, 63);
    font-weight: 300;
}

#discription_list {
    float: left;
    text-align: left;
    width: 35%;
}

#pro_det_chatnow {
    color: #3a3a3a;
    padding: 10px;
    width: 120px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #969696;
}

.pro_det_hower {
    width: 70%;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    display: flex;
    max-height: 450px;




    /* overflow: hidden;*/
}

/*  span{
    font-size: 20px;
    margin-bottom: 0px;
}*/
#discription_list li {
    font-size: 14px;
    color: rgb(63, 63, 63);
    font-weight: 300;
}

.pro_det_p3 {
    font-size: 13px;
    float: left;
    margin-top: 20px;
}

#discription_list {
    padding-left: 50px;
}

#have_questions {
    padding-left: 50px;
}

.pro_det_hower1 {

    text-decoration-line: underline;
    text-decoration-thickness: 2px;


}

#quantity {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
}

.pro_det_hower2 {
    border: white;
    background-color: rgb(198, 196, 201);
    text-decoration: none;
    transition: background .2s, border-color .2s;
}

#wishlist {
    margin-top: 10px;
    font-size: 13px;
    background-color: transparent;
    width: 140px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black;
}

#product-grid-modalBox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* background-color: rgba(255, 250, 255, 0.6); */
}

#product-grid-modal-product-info {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    width: 40%;
    margin: 100px auto;
    border: 1px solid rgb(201, 201, 201);
}

#product-grid-modal-div {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

#product-grid-modal-content {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

#product-grid-modal-img>img {
    width: 90%;
    margin: 0px;
}

#product-grid-closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

#product-grid-closeBtn:hover,
#product-grid-closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#product-grid-modal-product-name,
#product-grid-modal-product-brand {
    font-size: 20px;
    font-weight: 400;
    color: rgb(63, 63, 63);
    margin: 0px;
    padding: 0px;
}

#product-grid-modal-product-brand {
    font-size: 13px;
    margin-top: 5px;
}

#product-grid-modal-product-price {
    margin-top: 20px;
    font-weight: 500;
}

#product-grid-modal-product-price-content,
#product-grid-modal-product-about {
    margin: 20px auto;
    font-size: 14px;
    font-weight: 300;
}

#product-grid-modal-product-checkout {
    width: 80%;
    margin: auto;
    padding: 4px;
    background-color: #000;
    font-size: 14px;
    color: white;
    border: 0px;
    cursor: pointer;
}

#product-grid-modal-product-addToBag>* {
    display: inline-block;
    margin-top: 5px;
}

#product-grid-modal-product-addToBag>p {
    margin-top: 0px;
    margin-bottom: 10px;
}

#product-grid-modal-product-add {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
}

#product-grid-modal-product-add>p:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;

}

#product-grid-modal-product-add>* {
    display: inline-block;
    padding-bottom: 0px;
}

#product-grid-modal-product-details {
    text-align: center;
}

.footer {
    display: flex;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

.footer-col {
    flex-basis: 250px;
    padding: 10px;

}

.heading {
    font-size: 15px;
    font-weight: 700;
}

.ul {
    list-style-type: none;
    text-align: start;
}

.ul>li {
    padding: 5px;
    font-size: 12px;

}

.ul>li:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

.footer>p {
    flex-basis: 120px;
    padding: 20px;
    font-size: 12px;
}

.footer>p:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

#top {
    background-color: black;
    text-align: center;
    color: white;

    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.15px;

}

#top a {
    cursor: pointer;
    color: rgb(248, 246, 246);
}

#top p {
    float: left;

}

#top button {
    float: right;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

#top button img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

#top span {
    vertical-align: top;
}

.clear {
    clear: both
}

#nav-bar {
    margin-top: 25px;
    padding-bottom: 13px;

}

#nav-bar>div {
    width: 96.5%;
    margin: auto;
}

/* ul{
list-style-type: none;
} */

/* #inside-div{
/* border:1px solid green; } */

#inside-div>div {
    float: left;
    margin-right: 40px;
}

#logo {
    width: 15%;
}

#navs {
    width: 60%;
    margin-top: 7px;
}

#navs>button {
    display: inline;
    border: none;
    background-color: white;
    margin-right: 20px;
    color: #393939;
    font-family: Brandon Text, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition-duration: 1s;
}

#red {
    color: #d61f27 !important;
}

#search {
    display: flex;
    width: 18%;
    margin-right: 0px !important;
    margin-left: 10px;
    position: relative;
}

#search>div {
    width: 37%;
    margin-right: 20px;
}

#search>div:nth-last-child(1) {
    margin-right: 0px;
}

#bag {
    width: 15% !important;

}

#bag img {
    width: 100%;
    margin-top: 3px;
}

#one,
#two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color: #393939;
    font-family: Brandon Text, Arial, sans-serif;
}

#one img {
    width: 100%;
    height: 30px;
}

#bag>a>img {
    width: 100%;
    height: 25px;
}

#two>img {
    width: 16px;
    height: 16px;
}

.img>img {
    width: 20px;
    height: 20px;
}

#navs>button:nth-last-child(1) {
    margin-left: 17px;
    margin-right: 0px;
}

#search p {
    margin-left: 3px;
}

.Sale-content,
.Home-content,
.Women-content,
.Men-content,
.Kids-content,
.YoungAdult-content,
.Kids-content,
.Activewear-content,
.Gifts-content,
.Beauty-content,
.Designer-content,
.Brands-content {
    display: block;
    height: 0px;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 25px;
    padding-bottom: 0px;
    z-index: 1;
    transition: height 0.5s ease-out;
    overflow-y: auto;

}

#inputBox {
    display: block;
    height: 0px;
    position: absolute;
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 6;
    border: none;
    padding: 0px 20px;
    width: 400px;
}

#signIN {
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    z-index: 7;
    padding: 10px 20px;
    background-color: white;
    width: 100% !important;
}

#signIN li {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

#signIN li:nth-child(1) {
    width: 65%;
    background-color: black;
    text-align: center;
    padding: 10px 30px;
}

#signIN li:nth-child(2) {
    width: 65%;
    border: 1px solid black;
    text-align: center;
    padding: 10px 30px;
}

#signIN a {
    text-decoration: none;
    color: #393939;
}

#signIN li:nth-child(1)>a {
    color: white;
}



.mainh3 {
    margin-top: 20px;
}

.Sale-content>div,
.Home-content>div,
.Women-content>div,
.Men-content>div,
.Kids-content>div,
.YoungAdult-content>div,
.Kids-content>div,
.Activewear-content>div,
.Gifts-content>div,
.Beauty-content>div,
.Designer-content>div,
.Brands-content>div {
    display: flex;
}

.Sale-content>div>div,
.Home-content>div>div,
.Women-content>div>div,
.Men-content>div>div,
.Kids-content>div>div,
.YoungAdult-content>div>div,
.Kids-content>div>div,
.Activewear-content>div>div,
.Gifts-content>div>div,
.Beauty-content>div>div,
.Designer-content>div>div,
.Brands-content>div>div {
    margin-right: 80px;
}

.Sale-content ul,
.Home-content ul,
.Women-content ul,
.Men-content ul,
.Kids-content ul,
.YoungAdult-content ul,
.Kids-content ul,
.Activewear-content ul,
.Gifts-content ul,
.Beauty-content ul,
.Designer-content ul,
.Brands-content ul {
    list-style-type: none
}

.Sale-content a,
.Home-content a,
.Women-content a,
.Men-content a,
.Kids-content a,
.YoungAdult-content a,
.Kids-content a,
.Activewear-content a,
.Gifts-content a,
.Beauty-content a,
.Designer-content a,
.Brands-content a {
    color: #393939;
    font-size: 13px;
    line-height: 1.4;
    text-decoration: none;
}

.Sale-content li>a,
.Home-content li>a,
.Women-content li>a,
.Men-content li>a,
.Kids-content li>a,
.YoungAdult-content li>a,
.Kids-content li>a,
.Activewear-content li>a,
.Gifts-content li>a,
.Beauty-content li>a,
.Designer-content li>a,
.Brands-content li>a {
    font-size: 12px;
}

.Sale-content li,
.Home-content li,
.Women-content li,
.Men-content li,
.Kids-content li,
.YoungAdult-content li,
.Kids-content li,
.Activewear-content li,
.Gifts-content li,
.Beauty-content li,
.Designer-content li,
.Brands-content li {
    margin-bottom: 10px;
}

.firstDiv {
    margin-right: 30px;
}

hr {
    background-color: rgb(223, 213, 213);
    height: 1px;
    width: 200px;
    margin-bottom: 10px;
    border: none;
}

.topMargin {
    margin-top: 30px;
}

.marginRem {
    margin-right: 0px;
    width: 15%;
}

.marginRem img {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.decor {
    font-size: 11px;
}

.decor+hr {
    width: 110px;
    background-color: black;
}

ul {
    list-style-type: none
}

.right {
    float: right
}

#recommended-product {
    width: 90%;
}

#recommended-product>* {
    text-align: center;
    color: rgb(68, 68, 68);
}

#recommended-product>img {
    margin: 10px 90px;
    text-align: center;
    color: rgb(68, 68, 68);
}

#bag-icon-text {
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    gap: 5px;
}

#itemsInBag {
    width: 100%;
    height: 50%;
    border-radius: 50%;
    font-weight: 800;
    font-size: 18px;
    color: rgb(61, 61, 61);
    margin-bottom: 12px;
}

#main-content a:hover {
    border-bottom: 2px solid black;
}